.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  &__item {
    background-color: #161616;
    border-radius: 20px;
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%);
    color: #fff;
    cursor: pointer;
    list-style: none;
    margin: 10px;
    padding: 80px 24px 32px;
    position: relative;
    transition: all .6s ease-in-out;

    img {
      border-radius: 20px;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    h3 {
      font-size: 1.3rem;
    }

    &:hover {
      background-color: rgba(22 22 22 / 40%);
    }

  }
}
